[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
whoosh = "*"
pymongo = "*"
"mastodon.py" = "*"
"ruamel.yaml" = "*"
path-py = "*"
tomd = "*"
"bs4" = "*"
click = "*"

[dev-packages]
mypy = "*"
pyflakes = "*"
pytest = "*"

[requires]
python_version = "3.6"
